body{
background: antiquewhite;
}
.incantation{
    display: grid;
    background-image: url("../img/spell/background.png");
    background-size: 100% ;
    border-radius: 50%;
    width: 500px;
    height: 500px;
    align-items: center;
    grid-template-rows: 33% auto 33%;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-areas:
            '. spell-1 . spell-2 .'
            ' spell-3 . . . spell-4'
            '. spell-5 . spell-6 .';
}
.spell-1{
    grid-area: spell-1;
}
.spell-2{
    grid-area: spell-2;
}
.spell-3{
    grid-area: spell-3;
}
.spell-4{
    grid-area: spell-4;
}
.spell-5{
    grid-area: spell-5;
}
.spell-6{
    grid-area: spell-6;
}
/* Modal Content/Box */
.text {
    width: 200px;
    height: 150px;
    margin: 5px auto;
    overflow: hidden;
}
[class*="spell"]{
    height: 100px;
    width: 100px;
    align-content: center;
    text-align: center;
}

.mathTask{
    display: none;
    width: 500px;
    height: 500px;
    background: darkorange;
    justify-content: center;
}
.acquisition{
    display: flex;
    flex-direction: row;
}
.send-result{
    display: block;
}
.result{
    width: 40px;
}

#sortable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60%;
    display: inherit;
}
#sortable li {
    margin: 0 3px 3px 3px;
    padding: 0.4em;
    padding-left: 1.5em;
    font-size: 1.4em;
    height: 18px;
}
#sortable li span {
    position: absolute;
    margin-left: -1.3em;
}
.default {
    background: #cedc98;
    border: 1px solid #DDDDDD;
    color: #333333;
}